section {
    font: normal 20pt Arial;
    text-align: center;
}

div {
    margin: auto;
    padding: 8px;
}

#shape {
    background-color: crimson;
    width: 350px;
    height: 350px;
}

span {
    display: inline-block;
}

.button {
    font-size: 20px;
}
